@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root{
    --PrimaryColor:hsl(271, 74%, 30%);
    --SecondaryColor:rgb(44, 92, 66);
    --LightColor:white;
}
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url('./currency.jpg');
    background-size: cover;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}
.action{
    margin-top: 1rem;
}
.action .select{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
select{
    padding: 5px;
    border-radius: none;
}
#currency-id{
    width:100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid var(--PrimaryColor);
    background-color: rgb(141, 225, 228);
}
.convert{
    padding: 1rem;
    border: none;
    background-color: var(--PrimaryColor);
    color: white;
    transition: .4s ease-in-out;
}
.convert:hover{
    background-color: --SecondaryColor;
}
.action div{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
}
/* themeswitcher */
#theme-switcher{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10000;
    background-color: var(--PrimaryColor);
    padding: .5rem;
    border-radius: 10px;
}
#theme-icon,#cross-icon {
    width: 35px;
    fill:var(--LightColor);
    position: relative;
}
#cross-icon{
    padding: 4px;
    width: 30px;
    display: none;
}
#switcher{
    
    background-color: white;
    padding: .5rem;
    display: none;
}
.icons{
    display: flex;
    justify-content: right;
    align-items: center;
}
.theme-select{
    width: 150px;
    padding: .5rem;
}
.theme-select:hover,.theme-select:nth-child(odd):hover{
    background-color: var(--PrimaryColor);
    color: var(--LightColor);
}
.theme-select:nth-child(odd){
    background-color: lightgray;
}
.clasic{
    --PrimaryColor:hsl(271, 74%, 30%);
    --SecondaryColor:rgb(44, 92, 66);
    --LightColor:white;
    background-image: url(./currency.jpg);
}
